language: php
php:
  - 5.6
  - 7.0
  - 7.1
  - hhvm
  - nightly
before_script:
    - composer self-update
    - composer install
script:
    - composer test
after_success:
    - php vendor/bin/coveralls --verbose
