language: php
php:
    - 7.0
    - 7.1
    - nightly
before_script:
    - composer self-update
    - composer install
script:
    - composer test
after_success:
    - php vendor/bin/coveralls --verbose
